@keyframes hide {
    0% {
        opacity   : 1;
        transform : translateX(0);
    }

    100% {
        opacity   : 0;
        transform : translateX(calc(100% + 10px));
    }
}

.container {
    position       : fixed;
    bottom         : 10px;
    right          : 10px;
    display        : flex;
    flex-direction : column;

    .item {
        animation       : hide 1s 1 normal forwards;
        animation-delay : 3s;
    }
}