.container {
    display        : flex;
    flex-direction : column;
    gap            : 5px;
    border-radius  : 10px;
    padding        : 10px;
    background     : #242629;
    border         : 1px solid #303234;

    header {
        color           : #778;
        font-size       : 14px;
        display         : flex;
        flex-direction  : row;
        justify-content : space-between;
        align-items     : center;
        gap             : 10px;

        div {
            display         : flex;
            gap: 5px;
        }
    }

    p {
        color     : #EEF;
        font-size : 16px;
    }

    footer {
        color     : #778;
        font-size : 14px;
    }
}